/target/
/errors/
/retry/
/src/main/resources/config/application-local.yml
/fileAggregatorTest/
/tmp/

### Terraform and Terraforming (AWS Administration Tool) ###
terraform/**/.terraform
terraform/**/resources.*

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

store-orchestrator.*.gz
*.log
**/.DS_Store
**/*.swp
.DS_Store
venv
*.gz